.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #779da6;
  z-index: 1000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  flex: 1;
}

.navbar-logo {
  height: 50px;
}

.navbar-links {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}
