/* Styles for the hospital search input */
#hospital-map {
    background-color: #1c6593;
    color: white;
    font-size: 14px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    text-align: center;
    transition: width 0.3s ease;
    
    position: absolute; /* Ensures correct positioning */
    top: 10cm;  /* Adjust as needed */
    left: 23cm;
    z-index: 2000;
}

/* When the hospital search input is focused */
#hospital-map:focus {
    outline: none;
    width: 350px; /* Slightly expands on focus */
}

/* Suggestions dropdown for hospital search */
.suggestion-item {
    background-color: white;
    color: black;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}
