/* Styling for the app */
.app {
  background-color: #779da6;

}

/* Logo as background image at the bottom right */
.logo {
  position: fixed;  /* Position it relative to the viewport */
  bottom: 1cm;      /* 1 cm from the bottom */
  right: 1cm;       /* 1 cm from the right edge */
  width: 2.8cm;       /* Adjusted to a size that works */
  height: 2.8cm;      /* Adjusted height */
  background-image: url('./assets/logo.jpg');  /* Import the logo image */
  background-size: cover;  /* Ensure it covers the space */
  background-position: center;  /* Center the image within the element */
  background-repeat: no-repeat;  /* Avoid repeating the image */
  border-radius: 50%;  /* Round the image */
}
